<!-- Importing Documentation -->
<%- include partials/header.ejs%>
<!-- Importing Navbar -->
<%- include partials/main_nav.ejs%>

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to the my portfolio website.</h1>
      <p>I am a hardworking second year student looking to join the game industry. Please take a look through these pages and contact me if you have any inquiries.</p>
      <p><a href="/about">About me</a></p>
      <p><a href="/projects">Projects</a></p>
      <p><a href="/services">Services</a></p>
      <p><a href="/contact">Contact me</a></p>
    </div>
  </main>
<!-- Importing Bottom bar -->
<%- include partials/bottom_nav.ejs %>
<!-- Importing Scripts -->
<%- include partials/footer.ejs %>